.main-div{
    align-items: center;
}

.inner-body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    border: 10px solid red;
    background-color: aquamarine;

}